@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Serif&family=Oswald:wght@200;300;400;600&family=Playfair+Display&family=Playfair:wght@300&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    font-family: 'Noto Serif', serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-container{
        text-align: start;
        margin: 30px;
        width: 40%;
}

.home-container button{
    margin: 10px;
}

.home-container option{
    margin: 10px;
}

.wrapper {
    display: flex;
}

.book-container {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    max-height: 200vh;
}

img {
    width: 100%;
    border-radius: 15px;
}

.product {
    width: 20%;
    height: auto;
    max-height: 45vh;
    box-sizing: border-box;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1%;
    border-radius: 15px;
}

.erase-product-container{
    display: flex;
    justify-content: end;
}

.erase-product{
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
}

.erase-product:hover{
    cursor: grab;
}

.product span{
    font-weight: bolder;
}

.cart-container {
    margin: 20px;
    flex: 1; 
    height: auto;
    min-height: 70vh;
    flex-direction: column;
    background-color: rgb(212, 212, 212);
    border: 2px solid black;
    border-radius: 20px;
}

.cart-items-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.cart{
    text-align: center;
    margin-top: 20px;
}

.filters-container{
    display: flex;
}

.filter-buttons{
    display: flex;
    justify-content: start;
}

.filter-buttons button p{
    margin: 5px;
}

.filters{
    margin: 10px;
}
